.basPage{	
	background-image: url('photos/background.jpg');	
	background-size: 1920px 1920px;
    background-repeat: no-repeat;
	background-position: 0px -800px;	
	margin-top: -150px;
	
}
.hrspace{
	padding-top: 200px;
}
.titreBP{
	padding-top: 200px;
	width: 1200px;
	display:flex;
	justify-content: space-between;
	margin: auto;
}
.article{
	width: 300px;
	color: #F5F5F5;
}
.datesBP ul {
	list-style-type: none;
	color: #D3D3D3;
	margin-left: -40px;
}
time{
	color: #4c4a4a;
	font-size: 0.8em;
}

.titreBP p{
	color: white;
}
.basPage hr{
	
	border-color: grey;
	background: grey;
	width: 90%;

	margin-top: 35px;
	margin:auto;
	 
}
#p{
	color:#666363; 
}
