body{
	background-position-y:-650px; 
	background-color: black;

}
.imageBio{
	text-align: center;

}
.imageBio img{
	margin-top: 105px;
	width: 1050px;
}
.texteBio{
	width: 1050px;
	margin: auto;
}
.hrBio{ 
	margin-bottom: 35px;
	margin-top: 35px;
}
.backBio1{
	 
	padding-bottom: 35px;

}
.texteBio{
	color: #a9a9a9;
	background-color: black;
}
h1{
	font-size: 80px;
	font-weight: lighter;
	padding-top: 50px;
}
h2{
	font-size: 30px;
	font-weight: lighter;
	padding-top: 35px;
}