/*style css*/
@font-face {
font-family: 'Open Sans';
src: url('Open_Sans/OpenSans-SemiBold.ttf');
src: url('Open_Sans/OpenSans-Bold.ttf');
src: url('Open_Sans/OpenSans-Regular.ttf');
src: url('Open_Sans/OpenSans-Light.ttf');
}
body{
	
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}
#container{
	
	font-family: 'Open Sans', sans serif;
	color: white;
	
	
	
	
}
.header{
	background-image: url('photos/background.jpg');	
	background-size: 1920px 1920px;
    background-repeat: no-repeat;
	background-position: 0px -500px;	
	margin-bottom: 0px;

}
.opacity{
	background-color: rgba(0,0,0,0.5)
}


.menu ul{
	margin-right:auto;
	margin-left: auto;
	margin-top: 0px;
	padding-top: 60px;
	
	text-align: center;

}
.menu ul li{
	display: inline;
	margin-left: 50px;
	
}
.menu ul li a{
	text-decoration: none;
	color: #a9a9a9;
}
.menu ul li a:hover{
	color: white;
}
.main-title{
	padding-top: 180px;
	text-align: center;
	color: white;
	margin: 0px;
	font-size: 100px;
	
}
.subtitle{
	text-align: center;
	font-size: 20px;
	
	padding-bottom: 290px;
	margin-bottom: 0px;
}

/*style css*/
/*footer*/

footer{
	background-image: url('photos/background.jpg');	
	background-size: 1920px 1920px;
    background-repeat: no-repeat;
	background-position: 0px -800px;	
	margin-bottom: 0px;
	text-align: center;
	margin-top: -200px;
	color: white;
	word-spacing: 5px;
	
}
.icones{
	padding: 30px;
	padding-top: 300px;
	font-size: 1.2em;
	word-spacing: 20px;
	padding-bottom: 20px;
}
.icones a {
	padding-right: 20px;
}
.icones hr {
	margin-bottom: 90px;
}
i{
	color: white;

}
/*footerfin*/
h1{
	font-size: 80px;
	font-weight: lighter;
	padding-top: 150px;
	margin-top: 0px;
}
.obsidian{
	font-size: 1rem;
	padding-bottom: 50px;
}


.flex{
	display: flex;
	justify-content: space-between;

}
.imageshome{
	
	background-image: url('photos/background.jpg');	
	background-size: 1920px 1920px;
    background-repeat: no-repeat;
	background-position: 0px -1100px;
	margin-bottom: -150px;
	margin-top: 0px;
	
	
}	
.vid{
	padding-left: 70px;
	padding-right: 70px;
	
	
}
.vid-title{
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 40px;
}
.h1-vid{
	margin-top: 0px;
}
.td-img1{
	
	text-align: center ;
	border-top:grey solid 0.5px;
	border-bottom: grey solid 0.5px;
	
}
.td-img{
	border-left: grey solid 0.5px;
	border-top: grey solid 0.5px;
	border-bottom: grey solid 0.5px;
	text-align: center ;
	padding-top: 20px;
	
}
.img{
	background-color: black;
	width: 70%;
	
	margin-left: auto;
	margin-right: auto;
	
}
.dateshome{
	background-image: url('photos/background.jpg');	
	background-size: 1920px 1920px;
    background-repeat: no-repeat;
	background-position: 0px -900px;
	
	
}
.padding{
	padding-top: 250px;
}
.table {
	
  	border-collapse: collapse;
    border-spacing: 2px;
    width: 1650px;
 	
}

caption {
	text-align: left;
	padding-bottom: 15PX;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.table tr td {
	border-bottom: grey solid 0.5px;
	font-size: 1.8rem;
	height: 60px;
}
.table tr .bold{
	font-weight: bold;
}

.table tr .tdone{
	font-size: 1rem;
}
.vid a{
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 150px;
}
